name: Generate SBOM Report with Syft

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Generate SBOM using Syft Action
      uses: anchore/sbom-action@v0
      with:
        image: docker.io/library/nginx:latest
        format: cyclonedx-xml
        output-file: sbom.xml

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v3
      with:
        name: sbom-report
        path: sbom.xml
